<noscript>
  <div class="noscript">
    <p>
      [No JavaScript detected]
    </p>
    <p>
      Here are some links to some other places I live on the internet!
    </p>
    <ul>
      <%= for row <- @links do %>
        <li><a href={Enum.at(row, 1)}><%= Enum.at(row, 0) %></a></li>
      <% end %>
    </ul>
  </div>
</noscript>
<div id="root"></div>
